body{
	background:#2B6CA3;
	color:white;
}
.jumbotron{
	background:#BADA55;
}
#tel{
	margin-bottom:0px;
	margin-top:55px;
	font-family:times new roman;
}
#email{
	font-family:times new roman;
}
#ironing,#drycleaning,#delivery{
	margin-top:70px;
}
#contact{
	margin-top:5px;
	margin-bottom:-40px;
}
#prices,#pricesinfo{
	font-size:120%;
}
#disc{
	font-weight:bold;
	color:#2F2E2E;
}
.pricesbackground{
	background:#72C6E5;
	padding:25px;
}